<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/app.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>logs/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>100MB</maxFileSize>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>
	<springProfile name="default,dev">
		<root level="DEBUG">
			<appender-ref ref="stdout" />
			<appender-ref ref="file" />
		</root>
		<logger name="org.springframework" level="INFO">
		</logger>
		<logger name="springfox" level="INFO">
		</logger>
	</springProfile>
	<springProfile name="test">
		<root level="INFO">
			<appender-ref ref="file" />
		</root>
	</springProfile>
	<springProfile name="production">
		<root level="INFO">
			<appender-ref ref="file" />
		</root>
	</springProfile>
</configuration>